<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="/css/style.css">
    <title>Roll</title>
</head>
<body>
    <a href="/"><img src="/images/back.png" width=5% alt="back button" onmouseover="this.src='/images/back_hovered.png'" onmouseout="this.src='/images/back.png'"></div></a>
    <div style = "text-align: center";>
        <h1>Dice rolled!</h1>
        {{{ body }}}
        <p>Click the dices to roll again!</p>
    </div>

    <p>Copyright 2020</p>
    
</body>
</html>